html, body {
  font-family: 'Andika New Basic';
  text-align: justify;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/Egyesko.jpg') no-repeat center center fixed;
  background-size: cover;
}

.fa-map-marker {
  color: green;
}

.name-headline {
  color:azure;
}

h1 {
  font-size: 27px;
  color:azure;
}

h2 {
  font-size: 20px;
  color:azure;
}

.me {
  color:azure;
  font-size: 19px;
  
}

.visiting-card {
  background-color: hsla(0, 0%, 40%, .2);
  border-radius: 50%;
  box-shadow: hsla(0, 0%, 0%, .9) 10px 10px 80px;
  margin-top: 400px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.card {
  max-width: calc(100vw - 10px);
  width: 10%;
}

.card, .links {
  text-align: center;
}

a {
  color: white;
}

.card, .about-me {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding: 1px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  filter: grayscale(55%);
}

img:hover {
  transform: scale(1.3);
   filter: grayscale(30%);
}

.profile-image {
  margin-top: 10px;
  line-height: 50px;
}

ul {
  list-style-type: none;
}

li {
  display:inline;
}

.card, .me {
  margin-bottom: 5%;
}

.about-me {
  padding: 3% 7%;
  border-top: 1px solid hsla(0, 0%, 0%, .9);
  line-height: 22px;
}





